*{
    font-family: 'Times New Roman', Times, serif;
  } 
  
  body {
    margin: 0;
    height: 100vh;
  }
  
  a{
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
    text-decoration: none;
  }
  
  #navi {
    display: flex;
    justify-content: space-between;
  }
  
  #content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    min-height: 0;
  }
  