*{
    font-family: 'Times New Roman', Times, serif;
  } 
  
  body {
    margin: 0;
    height: 100vh;
  }
  
  a{
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
    text-decoration: none;
  }
  
  #navi {
    display: flex;
    justify-content: space-between;
  }
  
  #content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    min-height: 0;
  }
  .nav-content {
    width: 100%;
    background: #fff;
  }
  
  .hide li {
    visibility: visible;
    display: block;
    text-align: center;
    padding: .5em;
    box-sizing: border-box;
  }
  
  .hide {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  
  .nav-content input:checked ~ .hide {
    display: block;
  }
  
  .nav-content input {
    visibility: hidden;
  }

  .home {
    text-align: center;
    height: 100vh;
  }
  
  .home img {
    width: 90%;
  }
  
  .home h2 {   
    font-family: 'Gigi';
    width: 100%;
    font-size: 5em;
    text-align: center;
    height: .8em;
  }

  .form-control:focus {
    border-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(100, 100, 100, 0.5);
  }
  
  .heading-name {  
    padding: 20px 20px 30px 14px;
  }
  
  .heading-name h1 {
    font-size: 25px;
  }
  
  .name{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 28px;
    line-height: 1.1em;
  }

  .navbar-toggler {
    margin-left: .5em;
    margin-top: 1em;
    margin-bottom: 0;
    height: 2em;
  }
  
  .copy-right {
    font-size: 0.8em;
    color: gray;
    padding-top: 1em;
  }
  
  .blog-post img {
    float: left;
    padding: .2em;
    margin: 0.5em;
  } 

    