*{
    font-family: 'Times New Roman', Times, serif;
  } 
  
  body {
    margin: 0;
    height: 100vh;
  }
  
  a{
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
    text-decoration: none;
  }
  
  #navi {
    display: flex;
    justify-content: space-between;
  }
  
  #content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    min-height: 0;
  }
  .nav-content {
    width: 100%;
    background: #fff;
  }
  
  .hide li {
    visibility: visible;
    display: block;
    text-align: center;
    padding: .5em;
    box-sizing: border-box;
  }
  
  .hide {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  
  .nav-content input:checked ~ .hide {
    display: block;
  }
  
  .nav-content input {
    visibility: hidden;
  }

  .home {
    text-align: center;
    height: 100vh;
  }
  
  .home img {
    width: 90%;
  }
  
  .home h2 {   
    font-family: 'Gigi';
    width: 100%;
    font-size: 5em;
    text-align: center;
    height: .8em;
  }
    